<app-side-bar></app-side-bar>

<div class="container" style="margin-left: 250px;">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>My Deliveries</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order ID</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Delivery Agent Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Adresse</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Gov</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Assigned Date</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Etat</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let delivery of deliveries">
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ delivery.orderId }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ delivery.deliveryAgentName }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ delivery.adresse }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ delivery.gov }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ delivery.assignedDate | date: 'yyyy-MM-dd HH:mm'  }}</h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span [ngClass]="delivery.etat === 'InProgress' ? 'badge badge-sm bg-gradient-secondary' : 'badge badge-sm bg-gradient-success'">
                      {{ delivery.etat }}
                    </span>
                  </td>
                  <td class="align-middle">
                    <!-- <button
                      class="btn btn-link text-dark px-3 mb-0"
                      [routerLink]="['/update-claim', delivery.id]"
                    >
                      <i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>
                    </button> -->
                    <button
                      class="btn btn-link text-success text-gradient px-3 mb-0"
                      (click)="StateDelivered(delivery.assignmentId)"
                      *ngIf="delivery.etat !== 'Delivered'"
                    >
                      <i class="fas fa-check-circle me-2"></i> Approve
                    </button>
                    <button
                      class="btn btn-link text-danger text-gradient px-3 mb-0"
                      (click)="StateCanceled(delivery.assignmentId)"
                      *ngIf="delivery.etat !== 'Canceled'"
                    >
                      <i class="fas fa-times-circle me-2"></i> Cancel
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  rel="stylesheet"
>
