<app-side-bar></app-side-bar>

<div class="container" style="margin-left: 250px;">
  <div class="card-body pt-4 p-3">
    <ul class="list-group" >
      <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
        <div class="d-flex flex-column">
            <span class="mb-2 text-xs">
              <div class="d-flex flex-column justify-content-center">
                  <h5 class="mb-0 text-sm">{{ forum.user.username.toUpperCase() }}</h5>
                  <p class="text-xs text-secondary mb-0">{{ forum.user.email }}</p>
                </div>
            </span>
          <span class="mb-2 text-xs">Post Subject <span class="text-dark font-weight-bold ms-sm-2"  [(ngModel)]="forum.title" >{{ forum.title }}</span></span>

          <span class="text-xs"><span class="mb-2 text-xs" >{{ forum.content }}</span></span>
          <span *ngIf="forum.question" class="mb-2 text-xs" >Question<span class="text-dark ms-sm-2 font-weight-bold" >{{ forum.question }}</span></span>   
          <div class="ms-auto text-end">
              <span class="text-dark ms-sm-2 font-weight-bold"><span class=" text-xs">{{ forum.creationDate }}</span></span>

          </div>


        </div>
        
        <div class="ms-auto text-end" *ngIf="authUser && authUser.id === forum.user.id">
            <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;" [routerLink]="['/postdetails', forum.idForum]"> UPDATE</a>
            <a class="btn btn-link text-danger px-3 mb-0" href="javascript:;" (click)="onDeleteForm(forum.idForum)" > DELETE</a>

        </div>
    
      </li>
      
    </ul>
    <div class="card-body">
        <form role="form text-left">
          <div class="row">
            <div class="col-6 mb-0">
              <input type="text" class="form-control" placeholder="Comment" aria-label="Name" aria-describedby="email-addon">
            </div>  
          </div>
          <div class="row">
            <div class="col-2 mb-2">
                <button type="button" class="btn bg-gradient-dark w-100 my-4 mb-2">Add Comment</button>
            </div>  
          </div>
        </form>
      </div>
      

  </div>
  
</div>